<div [formGroup]="parentGroup">
    <label
        class="pick-up__label"
        id="pick-up-label"
    >
        {{ pickUp.time.label }}
    </label>
    <div>
        <mat-radio-group
            color="primary"
            aria-labelledby="pick-up-label"
            formControlName="time"
        >
            <mat-radio-button
                class="pick-up__radio-btn"
                *ngFor="let pickUp of pickUp.time.options"
                [value]="pickUp"
            >
                {{ pickUp }}
            </mat-radio-button>
        </mat-radio-group>
        <div class="pick-up__point">
            <caption>
                {{ pickUp.caption }}
            </caption>
            <mat-radio-group
                color="primary"
                formControlName="point"
            >
                <mat-radio-button
                    class="pick-up__radio-btn"
                    *ngFor="let point of pickUp.point.options"
                    [value]="point"
                >
                    {{ point }}
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field #addressInput>
                <input
                    matInput
                    placeholder="Search for an address*"
                    formControlName="address"
                >
            </mat-form-field>
        </div>
    </div>
</div>
