<label
    class="pick-up__label"
    id="pick-up-label"
>
    {{ createBookingCalculationService.bookingOptions.pickUp.time.label }}
</label>
<mat-radio-group
    color="primary"
    aria-labelledby="pick-up-label"
    [(ngModel)]="createBookingCalculationService.bookingOptions.pickUp.time.selected"
>
    <mat-radio-button
        class="pick-up__radio-btn"
        *ngFor="let pickUp of createBookingCalculationService.bookingOptions.pickUp.time.options"
        [value]="pickUp"
    >
        {{ pickUp }}
    </mat-radio-button>
</mat-radio-group>

<div class="pick-up__address">
    <caption>
        {{ createBookingCalculationService.bookingOptions.pickUp.address.caption }}
    </caption>
    <mat-radio-group
        color="primary"
        [(ngModel)]="createBookingCalculationService.bookingOptions.pickUp.address.selected"
    >
        <mat-radio-button
            class="pick-up__radio-btn"
            *ngFor="let pickUpAddr of createBookingCalculationService.bookingOptions.pickUp.address.options"
            [value]="pickUpAddr"
        >
            {{ pickUpAddr }}
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput placeholder="Search for an address*">
    </mat-form-field>
</div>