@import "../../../../shared/UI/colors.scss";
@import "../../../../shared/UI/pickup-bg-colors.scss";

.booking-table-legend {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &__urgency-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__urgency-sqr {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border: 1px solid $dark-xxl;
  }
}

.asap {
  background-color: $color-asap;
}

.mobile {
  background-color: $color-mobile;
}

.delivery {
  background-color: $color-delivery;
}

.walkin {
  background-color: $color-walkin;
}

.concierge {
  background-color: $color-concierge;
}

.in-15-min {
  background-color: $color-in-15-min;
}

.standart {
  background-color: $color-standart;
}
