<div class="booking-board">
    <div class="booking-board__component">
        <app-booking-channel></app-booking-channel>
    </div>
    <div class="booking-board__component">
        <app-pick-up></app-pick-up>
    </div>
    <div class="booking-board__component">
        <app-drop-off></app-drop-off>
    </div>
    <div class="booking-board__component">
        <app-vehicle></app-vehicle>
    </div>
    <div class="booking-board__component">
        <app-customer-information></app-customer-information>
    </div>
    <div class="booking-board__component">
        <app-payment-options></app-payment-options>
    </div>
    <div class="booking-board__component">
        <app-notes></app-notes>
    </div>
</div>
