<div class="booking-board" *ngIf="bookingOptions">
    <div class="booking-board__component">
        <app-booking-channel
            [bookingChannel]="bookingOptions.bookingChannel"
            (onChanged)="onChanged($event)"
        >
        </app-booking-channel>
    </div>
    <div class="booking-board__component">
        <app-pick-up
            [pickUp]="bookingOptions.pickUp"
            (onChanged)="onChanged($event)"
        >
        </app-pick-up>
    </div>
    <div class="booking-board__component">
        <app-drop-off
            [dropOff]="bookingOptions.dropOff"
            (onChanged)="onChanged($event)"
        >
        </app-drop-off>
    </div>
    <div class="booking-board__component">
        <app-vehicle
            [vehicle]="bookingOptions.vehicle"
            (selectedVehicle)="onChanged($event)"
        >
        </app-vehicle>
    </div>
    <div class="booking-board__component">
        <app-customer-information
            [customerInformation]="bookingOptions.customerInformation"
        >
        </app-customer-information>
    </div>
    <div class="booking-board__component">
        <mat-slide-toggle
            color="primary"
            [(ngModel)]="isSliderChecked"
        >
            Set passenger information
        </mat-slide-toggle>
        <app-passenger-information
            *ngIf="isSliderChecked"
            [passengerInformation]="bookingOptions.passengerInformation"
        >
        </app-passenger-information>
    </div>
    <div class="booking-board__component">
        <app-payment-options
            [paymentOptions]="bookingOptions.paymentOptions"
            (onChanged)="onChanged($event)"
        >
        </app-payment-options>
    </div>
    <div class="booking-board__component">
        <app-notes></app-notes>
    </div>
</div>

<button (click)="createBookingCalculationService.trigger()">trigger</button>
