@import "app-mixins";

.booking-list {
  &__enum {
    position: relative;
  }

  &__urgency {
    position: absolute;
    top: 24px;
    left: 24px;
    max-width: 40%;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
  }
}

.table {
  @include table;
}
