@import "app-mixins";

.booking-list {
  &__enum {
    position: relative;
  }

  &__urgency {
    position: absolute;
    top: 24px;
    left: 24px;
    max-width: 40%;
  }

  &__loading {
    @include tableLoader;
  }
}

.table {
  @include table;
}
