/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// @import "~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss";

// $theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// @include angular-material-theme($theme);
// @include mat-datetimepicker-theme($theme);

@import "~@angular/material/theming";
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);

// Custom Sass colors vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($theme);

// Use this import in a real project instead
@import "~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss";
// @import 'dist/core/datetimepicker/datetimepicker-theme.scss';

// Using the $theme variable from the pre-built theme you can call the theming function
@include mat-datetimepicker-theme($theme);

@mixin customSnackBarStyle {
  color: #ffffff;

  & span {
    margin: auto;
    text-align: center;
  }

  & button {
    color: #ffffff;
  }
}

.notif-success {
  @include customSnackBarStyle;
  background: #64dd17;
}

.notif-warning {
  @include customSnackBarStyle;
  background: #ff8c00;
}

.notif-error {
  @include customSnackBarStyle;
  background: #ff2f00;
}
