@import "app-mixins";

.vehicle {
  @include styleForBookingBlocks;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    margin: 0;
    list-style: none;

    & input {
      display: none;

      &:checked + .vehicle__unit {
        outline: 3px solid $primary;
        filter: opacity(1) !important;
      }
    }
  }

  &__unit {
    filter: opacity(0.5);
    transition: filter 0.3s;
    cursor: pointer;
    border-radius: 4px;
    background: $light-xxl;

    &:hover {
      filter: opacity(1);
    }
  }
}
