<div class="drop-off__address">
    <caption>Drop Off</caption>
    <mat-radio-group
        color="primary"
        [(ngModel)]="dropOffAddressSelect"
    >
        <mat-radio-button
            class="drop-off__radio-btn"
            *ngFor="let dropOffAddr of dropOffAddress"
            [value]="dropOffAddr"
        >
            {{ dropOffAddr }}
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput placeholder="Search for an address*">
    </mat-form-field>
</div>
