<div class="drop-off__address">
    <caption>
        {{ dropOff.address.caption }}
    </caption>
    <mat-radio-group
        color="primary"
        [(ngModel)]="dropOff.address.selected"
    >
        <mat-radio-button
            class="drop-off__radio-btn"
            *ngFor="let dropOffAddr of dropOff.address.options"
            [value]="dropOffAddr"
        >
            {{ dropOffAddr }}
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput placeholder="Search for an address*">
    </mat-form-field>
    <p>{{ dropOff.address.note }}</p>
</div>
