<div class="vehicle" [formGroup]="parentGroup">
    <caption>
        {{ vehicle.caption }}
    </caption>
    <div class="vehicle__wrapper" *ngIf="vehicle?.items">
        <label        
            *ngFor="let vehicleItem of vehicle.items"
        >
            <input
                type="radio"
                [value]="vehicleItem"
                formControlName="items"
            >
            <div class="vehicle__unit">
                <app-vehicle-item 
                    [vehicleItem]="vehicleItem"
                    (clickedVehicle)="onVehicleSelect($event)"
                >
                </app-vehicle-item>
            </div>
        </label>
    </div>
</div>
