@import "../../../../shared/UI/colors.scss";

.booking-list {
  &__enum {
    position: relative;
  }

  &__urgency {
    position: absolute;
    top: 24px;
    left: 24px;
    max-width: 40%;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
  }
}

.table {
  width: 100%;

  & td {
    text-align: center;
  }

  &__col-data {
    position: relative;
    text-align: center;

    & > img {
      vertical-align: middle;
    }
  }

  &__cell-text {
    position: absolute;
    left: 24px;
    top: 0;
    z-index: 1;
    vertical-align: top;
  }

  &__cell-text--small {
    font-size: 0.8rem;
  }

  &__cell-text--bold {
    font-weight: bold;
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
  }

  &__cell-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
