@import "../../../../UI/mixins.scss";

:host {
  display: flex;
  flex-direction: column;
}

.booking-channel {
  &__label {
    font-weight: bold;
  }

  &__radio-btn {
    @include marginsForRadioBtns;
  }
}
