<nav class="menu">
    <ul class="menu__list">
        <li
            class="menu__item"
            *ngFor="let item of menuContent"
        >
            <mat-icon>{{ item.icon }}</mat-icon>
            <a
                class="menu__link"
                [routerLink]="['/board', item.link]"
            >
                {{ item.name }}
            </a>
        </li>
        <li class="menu__item menu__item--home">
            <mat-icon>{{ menuItemHome.icon }}</mat-icon>
            <a
                class="menu__link"
                [routerLink]="['/board']"
            >
                {{ menuItemHome.name }}
            </a>
        </li>
    </ul>
</nav>
