<h2 mat-dialog-title *ngIf="data?.header">
    {{ data.header }}
</h2>
<mat-dialog-content
    *ngIf="data?.content"
    [innerHTML]="data.content"
>
</mat-dialog-content>
<mat-dialog-content
    *ngIf="data?.payload"
>
    <h3>Customer:</h3>
    <p>Name: {{ data.payload.customerName }}</p>
    <p>Phone: {{ data.payload.customerPhone }}</p>
    <p>Email: {{ data.payload.customerEmail }}</p>
    <h3>Passenger:</h3>
    <p>Name: {{ data.payload.passengerName }}</p>
    <p>Phone: {{ data.payload.passengerPhone }}</p>
</mat-dialog-content>
<mat-dialog-actions *ngIf="data?.action">
    <button mat-raised-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>
