<div class="customer-information">
    <caption>
        {{ createBookingCalculationService.bookingOptions.customerInformation.caption }}
    </caption>
    <mat-tab-group>
        <mat-tab label="Customer">
            <mat-form-field>
                <span matPrefix>+1 &nbsp;</span>
                <mat-label>Phone*</mat-label>
                <input matInput placeholder="Phone*">
            </mat-form-field>
            <div class="customer-information__field-wrapper">
                <div class="customer-information__field">
                    <mat-form-field>
                        <mat-label>Email*</mat-label>
                        <input matInput placeholder="Email">
                    </mat-form-field>
                </div>
                <div class="customer-information__field">
                    <mat-form-field>
                        <mat-label>Name*</mat-label>
                        <input matInput placeholder="Name*">
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>
<mat-slide-toggle
    color="primary"
    [(ngModel)]="isSliderChecked"
>
    Set passenger information
</mat-slide-toggle>
<app-passenger-information *ngIf="isSliderChecked"></app-passenger-information>
