<div class="customer-information">
    <caption>
        {{ customerInformation.caption }}
    </caption>
    <mat-tab-group>
        <mat-tab label="Customer">
            <mat-form-field>
                <mat-label class="customer-information__phone-label">Phone*</mat-label>
                <input
                    matInput
                    ng2TelInput
                    type="tel"
                    [ng2TelInputOptions]="telOptions"
                    (ng2TelOutput)="getNumber($event)"
                    (intlTelInputObject)="telInputObject($event)"
                    (countryChange)="onCountryChange($event)"
                >
                <span matPrefix>{{ telOptions.prefix }} &nbsp;</span>
            </mat-form-field>
            <div class="customer-information__field-wrapper">
                <div class="customer-information__field">
                    <mat-form-field>
                        <mat-label>Email*</mat-label>
                        <input matInput placeholder="Email">
                    </mat-form-field>
                </div>
                <div class="customer-information__field">
                    <mat-form-field>
                        <mat-label>Name*</mat-label>
                        <input matInput placeholder="Name*">
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
