@import '../../../shared/UI/mixins.scss';

.customer-information {
    @include styleForBookingBlocks;
    margin-bottom: 20px;

    &__field-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__field {
        width: 49%;
    }
}

