<button (click)="trigger()">trigger</button>


<div class="mat-elevation-z8">
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="vehicle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="bookRef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Ref. </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="pickUpTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pickup Time </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="extras">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Extras </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="pax">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pax </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="pickUp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PickUp </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }}% </td>
        </ng-container>

        <ng-container matColumnDef="dropOff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DropOff </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="passenger">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Passenger </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }}% </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let row"> {{ row.vehicle.items }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{ row.vehicle.items }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>