@import "../../../../shared/UI/pickup-bg-colors.scss";
@import "../../../../shared/UI/colors.scss";

.booking-enum {
  position: relative;

  &__urgency {
    position: absolute;
    top: 24px;
    left: 24px;

    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__urgency-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__urgency-sqr {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    border: 1px solid $dark-xxl;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
  }
}

.booking-table {
  width: 100%;

  &__col-data {
    position: relative;
    text-align: center;

    & > img {
      vertical-align: middle;
    }
  }

  &__cell-text {
    position: absolute;
    left: 24px;
    top: 0;
    z-index: 1;
    vertical-align: top;
  }

  &__cell-text--small {
    font-size: 0.8rem;
  }

  &__cell-text--bold {
    font-weight: bold;
  }

  &__cell-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.asap {
  background-color: $color-asap;
}

.mobile {
  background-color: $color-mobile;
}

.delivery {
  background-color: $color-delivery;
}

.walkin {
  background-color: $color-walkin;
}

.concierge {
  background-color: $color-concierge;
}

.in-15-min {
  background-color: $color-in-15-min;
}

.standart {
  background-color: $color-standart;
}

th {
  // width: 25%;
}
