<div class="passenger-information" [formGroup]="parentGroup" [@inOutAnimation]>
    <caption>
        Passenger
    </caption>
    <mat-form-field>
        <mat-label class="passenger-information__phone-label">Phone*</mat-label>
        <input
            matInput
            ng2TelInput
            [ng2TelInputOptions]="telOptions"
            (intlTelInputObject)="telInputObject($event)"
            (countryChange)="onCountryChange($event)"
            formControlName="phone"
        >
        <span matPrefix>{{ telOptions.prefix }} &nbsp;</span>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name*</mat-label>
        <input
            matInput
            placeholder="Name*"
            formControlName="name"
        >
    </mat-form-field>
</div>
