@import "../../shared/UI/colors.scss";

.board {
    position: relative;
    display: flex;
}

.nav {
    position: fixed;
    padding: 100px 50px;
    width: 300px;
    height: 100vh;
    transition: left .3s;
    background-color: $dark-xxl;    

    &__btn {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 30px;
        cursor: pointer;

        & > span {
            position: relative;
            display: block;
            height: 5px;
            margin-top: 5px;
            transition: .3s;
            background: $dark-xl;

            &:first-child {
                margin-top: 0;
            }
        }

        &.opened {
            right: 20px;

            & > span:first-child {
                top: 10px;
                transform: rotate(45deg);
            }

            & > span:nth-child(2n) {
                opacity: 0;
            }

            & > span:last-child {
                top: -10px;
                transform: rotate(-45deg);
            }
        }
    }
}

.content {
    flex-grow: 1;
    min-height: 100vh;
    padding: 100px 50px;
    transition: margin-left .3s;
    background: $light-xl;

    &__menu-main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .content__menu-main {
        justify-content: center;
    }
}