@import '../../../shared/UI/mixins.scss';

.vehicle {
    @include styleForBookingBlocks;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 5px;
        list-style: none;
    }

    &__unit {
        border-radius: 4px;
        background: $light-xxl;
    }
}