<div class="note" [formGroup]="parentGroup">
    <caption>
        {{ notes.caption }}
    </caption>
    <mat-form-field>
        <mat-label>Driver's note</mat-label>
        <textarea
            matInput
            #inputOne
            maxLength="1000"
            placeholder="Driver's note"
            formControlName="toDriver"
        >
        </textarea>
        <mat-hint>Max length: {{ inputOne.value?.length || 0 }}/1000</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Dispatcher's note</mat-label>
        <textarea
            matInput
            #inputTwo
            placeholder="Dispatcher's note"
            formControlName="toDispatcher"
        >
        </textarea>
        <mat-hint>Length: {{ inputTwo.value?.length || 0 }}</mat-hint>
    </mat-form-field>
</div>
