<form [formGroup]="parentForm">
    <div formGroupName="paymentOptions">
        <section class="payment-options">
            <label
                class="payment-options__label"
                id="payment-options-channel"
            >
                {{ paymentOptions.channel.label }}
            </label>
            <mat-radio-group
                color="primary"
                aria-labelledby="payment-options-channel"
                formControlName="channel"
            >
                <mat-radio-button
                    class="payment-options__radio-btn"
                    *ngFor="let paymentChannel of paymentOptions.channel.options"
                    [value]="paymentChannel"
                >
                    {{ paymentChannel }}
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="payment-options">
            <label
                class="payment-options__label"
                id="payment-options-type"
            >
                {{ paymentOptions.type.label }}
            </label>
            <mat-radio-group
                color="primary"
                aria-labelledby="payment-options-type"
                formControlName="type"
            >
                <mat-radio-button
                    class="payment-options__radio-btn"
                    *ngFor="let paymentType of paymentOptions.type.options"
                    [value]="paymentType"
                >
                    {{ paymentType }}
                </mat-radio-button>
            </mat-radio-group>
        </section>
    </div>
    <div formGroupName="checkBasicOptions">
        <section class="payment-options">
            <label
                class="payment-options__label"
                id="payment-options-options"
            >
                {{ paymentOptions.basicOptions.label }}
            </label>
            <mat-checkbox
                type="checkbox"
                class="payment-options__checkbox"
                color="primary"
                aria-labelledby="payment-options-options"
                *ngFor="let paymentBasicOption of paymentOptions.basicOptions.options"
                (change)="onCheckboxChange($event)"
            >
                {{ paymentBasicOption.name }}
            </mat-checkbox>
        </section>
    </div>
    <div formGroupName="checkExtraOptions">
        <section class="payment-options">
            <label
                class="payment-options__label"
                id="payment-options-extras"
            >
                {{ paymentOptions.extraOptions.label }}
            </label>
            <div class="payment-options__checkbox-wrapper">
                <mat-checkbox
                    class="payment-options__checkbox"
                    color="primary"
                    aria-labelledby="payment-options-extras"
                    *ngFor="let paymentExtraOption of paymentOptions.extraOptions.options"
                    (change)="onCheckboxChange($event)"
                >
                    {{ paymentExtraOption.name }} {{ paymentExtraOption.note }}
                </mat-checkbox>
            </div>
            <p class="payment-options__note">
                {{ paymentOptions.extraOptions.note }}
            </p>
        </section>
    </div>
</form>
