@import "../../../../shared/UI/colors.scss";

.filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background: $light-xxl;

  &__col {
    display: grid;
    grid-template-rows: 2;
  }
}
