<!-- <div class="vehicle-item" [formGroup]="parentForm">
    <label>
        {{ vehicleItem.name }}
        <input type="radio" formControlName="items">
    </label>
    <img src="{{ vehicleItem.img }}" width="100" height="100">
    <span>
        Passengers: {{ vehicleItem.capacity }}
    </span>
</div> -->


<div class="vehicle-item">
    <label>
        {{ vehicleItem.name }}
    </label>
    <img src="{{ vehicleItem.img }}" width="100" height="100">
    <span>
        Passengers: {{ vehicleItem.capacity }}
    </span>
</div>