@import '../../../shared/UI/colors.scss';

.vehicle-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    // filter: opacity(.5);
    // transition: filter .3s;
    // cursor: pointer;

    &:hover {
        // filter: opacity(1);
    }

    & > img {
        align-self: center;
    }

    & > span {
        font-size: .8rem;
    }
}