@import "../../shared/UI/colors.scss";

.auth {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    &__welcome {
        flex-grow: 1;
        background: $dark-xxl;
    }

    &__login {
        padding: 100px 50px;
        width: 25%;
        background: $light-xxl;
    }
}