.menu-main {

    &__item {
        display: flex;
        margin: 5px 0;
        width: calc(50% - 5px);
        min-width: 250px;
        height: 80px;
        cursor: pointer;
        text-align: left;

        & mat-icon {
            width: 40px;
            height: 40px;
            font-size: 36px;
        }
    }
}
