<button
    mat-icon-button
    class="action-btn"
    (click)="openBookingDetails(row)"
>
    <mat-icon class="action-btn__icon action-btn__icon--primary">
        remove_red_eye
    </mat-icon>
    <span class="action-btn__tooltip action-btn__tooltip--primary">
        View details for {{ row.customerName }}
    </span>
</button>
<button
    mat-icon-button
    class="action-btn"
    (click)="openBookingEdit(row)"
>
    <mat-icon class="action-btn__icon action-btn__icon--primary">
        create
    </mat-icon>
    <span class="action-btn__tooltip action-btn__tooltip--primary">
        Edit booking
    </span>
</button>
<button
    mat-icon-button
    class="action-btn"
    (click)="openDeleteConfirmation(row.id)"
>
    <mat-icon class="action-btn__icon action-btn__icon--alert">
        clear
    </mat-icon>
    <span class="action-btn__tooltip action-btn__tooltip--alert">
        Delete booking
    </span>
</button>
