<div class="board">
    <div
        class="board__nav"
        [style.left]="isNavActive ? '0' : '-250px'"
        (mouseover)="navToggle()"
        (mouseout)="navToggle()"
    >
        <app-menu-side
            [userName$]="username$"
            [isNavActive]="isNavActive"
        >
        </app-menu-side>
    </div>

    <div
        class="board__content"
        [style.margin-left]="isNavActive ? '300px' : '50px'"
    >
        <div class="board__toolbar">
            <app-menu-apps></app-menu-apps>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>
