@import "../../../../UI/mixins.scss";

.customer-information {
  @include styleForBookingBlocks;
  margin-bottom: 20px;

  &__field-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__field {
    width: 49%;
  }
}

::ng-deep .iti--allow-dropdown .iti__flag-container {
  left: -30px;
}

::ng-deep .mat-form-field-prefix {
  left: 50px;
}

mat-label.customer-information__phone-label {
  margin-left: 50px;
}
