@import "app-mixins";

.passenger-information {
  @include styleForBookingBlocks;
}

::ng-deep .iti--allow-dropdown .iti__flag-container {
  left: -30px;
}

::ng-deep .mat-form-field-prefix {
  left: 50px;
}

mat-label.passenger-information__phone-label {
  margin-left: 50px;
}
