@import "../../../../shared/UI/colors.scss";

.login {
    display: flex;
    flex-direction: column;
    color: $dark-xxl;

    &__legend {
        text-transform: uppercase;
    }

    &__submit {
        text-transform: uppercase;
    }
}
