<form [formGroup]="parentGroup">
    <div formGroupName="paymentOptions">
        <section class="payment-options">
            <label
                class="payment-options__label"
                id="payment-options-channel"
            >
                {{ payment.paymentOptions.channel.label }}
            </label>
            <mat-radio-group
                color="primary"
                aria-labelledby="payment-options-channel"
                formControlName="channel"
                *ngIf="payment?.paymentOptions?.channel?.options"
            >
                <mat-radio-button
                    class="payment-options__radio-btn"
                    *ngFor="let paymentChannel of paymentOptions.paymentOptions.channels | keyvalue: originalOrder"
                    [value]="paymentChannel.key"
                >
                    {{ paymentChannel.value.name }}
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <section class="payment-options">
            <label
                class="payment-options__label"
                id="payment-options-type"
            >
                {{ payment.paymentOptions.type.label }}
            </label>
            <mat-radio-group
                color="primary"
                aria-labelledby="payment-options-type"
                formControlName="type"
                *ngIf="payment?.paymentOptions?.type?.options"
            >
                <mat-radio-button
                    class="payment-options__radio-btn"
                    *ngFor="let paymentType of paymentOptions.paymentOptions.types | keyvalue: originalOrder"
                    [value]="paymentType.key"
                >
                    {{ paymentType.value.name }}
                </mat-radio-button>
            </mat-radio-group>
        </section>
    </div>
    <section
        class="payment-options"
        formGroupName="checkBasicOptions"
        *ngIf="payment?.checkBasicOptions?.options"
    >
        <label
            class="payment-options__label"
            id="payment-options-options"
        >
            {{ payment.checkBasicOptions.label }}
        </label>
        <mat-checkbox
            class="payment-options__checkbox"
            color="primary"
            aria-labelledby="payment-options-options"
            *ngFor="let paymentBasicOption of paymentOptions.checkBasicOptions | keyvalue: originalOrder"
            (change)="onBasicOptionsChange($event, paymentBasicOption)"
        >
            {{ paymentBasicOption.value.name }}
        </mat-checkbox>
    </section>
    <section
        class="payment-options"
        formGroupName="checkExtraOptions"
        *ngIf="payment?.checkExtraOptions?.options"
    >
        <label
            class="payment-options__label"
            id="payment-options-extras"
        >
            {{ payment.checkExtraOptions.label }}
        </label>
        <div class="payment-options__checkbox-wrapper">
            <mat-checkbox
                class="payment-options__checkbox"
                color="primary"
                aria-labelledby="payment-options-extras"
                *ngFor="let paymentExtraOption of paymentOptions.checkExtraOptions | keyvalue: originalOrder"
                (change)="onExtraOptionsChange($event, paymentExtraOption)"
            >
                {{ paymentExtraOption.value.name }}
            </mat-checkbox>
        </div>
        <p class="payment-options__note">
            {{ payment.checkExtraOptions.note }}
        </p>
    </section>
</form>
